{# templates/Milds_App/personnel_list.html #}
{% extends "Milds_App/base.html" %}

{% block title %}Personnel List{% endblock %}

{% block content %}
  <h1>Personnel</h1>
  <p><a href="{% url 'create_personnel' %}">Add New Soldier</a></p>

  <ul>
    {% for s in soldiers %}
      <li>
        {{ s.user_id }} – {{ s.last_name }}, {{ s.first_name }}
        [<a href="{% url 'update_personnel' s.pk %}">Edit</a>]
      </li>
    {% empty %}
      <li>No personnel found.</li>
    {% endfor %}
  </ul>
{% endblock %}
