<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>griffin.ai</title>
        <link rel="icon" href="static/auto_dsr/img/griffin-ai-beak.png" />
        <link rel="stylesheet" href="static/auto_dsr/css/acd-export-style.css" />
    </head>
    <body>
        <div class="content">
            <h1>Welcome!</h1>
            <p>Our system indicates you do not yet have an account.</p>
            <p>Please navigate to <a href="https://apps.dse.futures.army.mil/Griffin-Analytics">griffin.ai</a> to create your account.</p>
            <p>You will need elevated permissions to access this page again.</p>
        </div>        
    </body>
</html>