{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>griffin.ai</title>
        <link rel="icon" href="static/auto_dsr/img/griffin-ai-beak.png" />
        <link rel="stylesheet" href="static/auto_dsr/css/style.css">
    </head>
    <body>
        <div id="root"></div>
        <script>const defaultUIC = "{{ default_uic }}";</script>
        <script>const defaultDisplayName = "{{ default_display_name }}";</script>
        <script>const defaultShortName = "{{ default_short_name }}";</script>
        <script src="static/auto_dsr/js/auto_dsr_bundle.js"></script>
    </body>
</html>