<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>griffin.ai - ACD Export Uploader</title>
        <link rel="icon" href="static/auto_dsr/img/griffin-ai-beak.png" />
        <link rel="stylesheet" href="static/auto_dsr/css/acd-export-style.css" />
    </head>
    <body>
        <div class="content">
            <h1>Welcome, {{ user }}</h1>
            <p>You can use this page to upload a DA2407 export file to Griffin.</p>
            <form method="POST" action="{% url 'da_2407_upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="unit">Select Unit</label>
                <select id="unit" name="unit">
                    {% for uic, name in units %}
                        <option value="{{ uic }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="da_2407_export">Browse for a DA 2407 Export File</label>
                <input type="file" id="da_2407_export" name="da_2407_export" accept=".xlsx">
                <br>
                <button class="upload-button">Upload</button>
            </form>
        </div>  
    </body>
</html>