variables:
  SonarQubeUrl: "https://sonarqube.dse.futures.army.mil"
  SonarQubeProject: "ai2c_pmx_amtp-ai_AYrPBSdfEQwxreF72aAK"


stages:
  - test
  - scan


test:
  stage: test
  image: cazw0cuaadsepacr01.azurecr.us/rstudio/connect-runtime:jammy-20240427-20240617-1450
  tags:
    - kubernetes
  before_script:
    - export PATH=/opt/python/3.10.12/bin:$PATH
    - pip install -r requirements.txt
    - pip install coverage --index-url https://rspm.dse.futures.army.mil/pypi-dse/latest/simple --trusted-host rspm.dse.futures.army.mil
  script:
    - coverage run manage.py test --settings=amap.settings.dev.local
    - coverage xml
    - coverage report -m
  artifacts:
    paths:
      - coverage.xml


perform-code-scan:
  image: cazw0cuaadsepacr01.azurecr.us/sonar-scanner-cliv1:TEST
  tags:
   - kubernetes
  stage: scan
  script:
    - >
      sonar-scanner -Dsonar.projectKey=$SonarQubeProject \
                    -Dsonar.login=$SonarQubeToken \
                    -Dsonar.host.url=$SonarQubeUrl \
                    -Dsonar.qualitygate.wait=true \
                    -X
  allow_failure: true